@import "@/sass/abstracts/mixins";

section.PortfolioSection {
  padding-bottom: calc(var(--pd-section-top) * 2);
  padding-left: 0;
  padding-right: 0;

  justify-items: center;
  gap: 5rem;

  & > :global(.header) {
    color: var(--c-primary);
  }
}

.Portfolio {
  &Slider {
    gap: var(--pd-limit-width);
    justify-items: center;
  }

  &Dots {
    display: flex;
    align-items: center;
    gap: 0;
  }
}

.Titlebar {
  color: var(--c-gold);
  position: relative;

  &Left,
  &Right {
    &Wrapper {
      top: 50%;
      translate: 0 -50%;
      height: calc(100% - 3rem);
      width: 1rem;
      position: absolute;
    }

    background-color: currentColor;
    height: 100%;
    width: 100%;
    display: block;
  }

  &LeftWrapper {
    right: 100%;
  }

  &RightWrapper {
    left: 100%;
  }

  &Main {
    background-color: var(--c-primary);
    padding: 1.5rem 3rem;
    color: currentColor;
  }
}

.Project {
  &Wrapper {
    position: relative;
  }

  $duration: 1s;
  $width: 30rem;

  width: $width;
  padding: var(--pd-limit-width);
  background-color: var(--c-primary);
  color: var(--txt-basic-l);
  transition: padding $duration ease, width $duration ease;

  display: grid;
  grid-template-rows: repeat(1, auto) 15rem auto;
  grid-template-columns: 1fr;
  gap: 2rem;

  &:hover &Image {
    filter: brightness(1);
  }

  &.active {
    padding: calc(var(--pd-limit-width) + 2rem);
    width: calc(#{$width} + 2 * 2rem);
  }

  &.active &Image {
    filter: brightness(1);
  }

  &Image {
    display: grid;
    transition: filter $duration;
    background-color: var(--c-primary-l);
    filter: brightness(0.85);

    & img {
      $padding: 1.5rem;
      margin: $padding;
      width: calc(100% - 2 * #{$padding});
      aspect-ratio: 1;
      height: auto;
    }
  }

  &Name {
    text-align: center;
    color: var(--c-gold);
    padding: 0.75rem 2rem;
    border-top: 0.2rem solid var(--bd-gold);
    z-index: 1;
  }

  & > p {
    text-align: center;
  }
}
