@import "@/sass/abstracts/mixins";

section.PortfolioSection {
  padding: calc(var(--pd-section-top) * 2) 0;

  justify-items: center;
  gap: 5rem;

  @include respond(800) {
    padding-top: var(--pd-section-top);
  }

  @include respond(600) {
    padding: var(--pd-section-top) 0;
  }

  & > :global(.header) {
    color: var(--c-primary);
  }
}

.Portfolio {
  &Slider {
    gap: var(--pd-limit-width);
    justify-items: center;
  }

  &Dots {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }
}

.Titlebar {
  color: var(--c-gold);
  position: relative;

  &Left,
  &Right {
    &Wrapper {
      top: 50%;
      translate: 0 -50%;
      position: absolute;
    }

    position: relative;
    display: block;
    height: 6rem;
    width: 1rem;
    background: var(--c-gold);
  }

  &LeftWrapper {
    right: 100%;
  }

  &RightWrapper {
    left: 100%;
  }

  &Main {
    background-color: var(--c-primary);
    padding: 1.5rem 3rem;
    color: currentColor;
  }
}

.Project {
  $duration: 1s;
  $width: 30rem;

  &Wrapper {
    position: relative;
    background-color: var(--c-primary);
    display: grid;
    width: $width;
    transition: padding $duration ease, width $duration ease;
    padding: 1rem;

    &.active {
      padding: var(--pd-limit-width);
      width: calc(#{$width} + 2 * 2rem);
    }
  }

  padding: 2rem;
  color: var(--txt-basic-l);
  display: grid;
  grid-template-rows: repeat(1, auto) 15rem auto;
  grid-template-columns: 1fr;
  gap: 2rem;

  &Header {
    background-color: var(--c-primary-l);
    display: grid;
  }

  &Image {
    $padding: 1.5rem;
    width: calc(100% - 2 * #{$padding});
    margin: $padding;
    height: auto;
    aspect-ratio: 1;
    position: relative;
    transition: filter $duration;
  }

  &Name {
    text-align: center;
    color: var(--c-gold);
    padding: 0.75rem 2rem;
    border-top: 0.2rem solid var(--bd-gold);
    z-index: 1;
  }

  & > p {
    text-align: center;
  }
}
