.Slider {
  position: relative;

  display: grid;
}

.SliderMain {
  min-width: 0;
  max-width: 100%;
  overflow: hidden;

  display: grid;
  justify-content: center; // Change this value
}

.Slides {
  position: relative;

  display: flex;
}

.Slide,
.SlideDOM {
  padding: 0.5px 0 !important; // Prevents border errors
}

.Slide {
  // Watch out for the height of text changing due to change in its width
  position: absolute;
}

.SlideDOM {
  position: relative;

  &,
  & * {
    transition: all 0s !important;
  }
}

.Dots {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.Dot {
  position: relative;
}
