.Slider {
  position: relative;
  justify-self: center;

  display: grid;
  justify-items: center; // must specify property or flickering occurs
}

.Slides {
  position: relative;
  overflow: hidden visible;

  display: flex;
}
.Slide,
.SlideDOM {
  padding: 0.5px 0 !important; // Prevent border errors
}

// Watch out for the height of text changing due to change in its width
.Slide {
  position: absolute;
}

.SlideDOM {
  position: relative;

  &.hideImages img {
    display: none;
  }

  &,
  & > * {
    transition: all 0s !important;
  }
}

.Dots {
  display: flex;
  gap: 1rem;
}

.Dot {
  position: relative;
}
